<div>
  <h3 class='subtitle is-2' style="margin-top: 15px; margin-bottom: 2px">ABOUT US</h3>
  <p>
    Established in 2020, Frank's Cafe is a locally-owned independant catering and restaurant service.
    We happily serve the Toronto community with quality fresh foods.
    Our catering service has grown to become one of Toront's largest and most recognized service.
  </p>
</div>

<div>
  <h3 class='subtitle is-2' style="margin-top: 15px; margin-bottom: 2px">OUR STORY</h3>
  <p>
    Over the past few month, Frank's Cafe has been serving unforgettable meals in the heart of downtown Toronto.
    From being a humble idea of our founder <strong>Frank Cruzin</strong> to being one of the most recognized cafe, our exceptional
    service and attention to detail has allowed us to steadily grow and solidify our commitment to good quality fresh foods.
  </p>
</div>