<div>
  <h3 class='subtitle is-2' style="margin-top: 15px; margin-bottom: 2px">Contact Page</h3>
  <p>Email: FrankCafe@hotmail.com</p>
  <p>Phone: (204) 632-3960</p>
  <p>Fax: 1-212-555-1234.</p>
</div>

<div>
  <h3 class='subtitle is-2' style="margin-top: 15px; margin-bottom: 2px">Drop by one of our location</h3>
  <p>Address: 160 princess St, Winnipeg, MB R3B 1K9</p>
</div>