<%# <h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p> %>
<h2>All Products</h2>
<% if @products.empty? %>
  <p>We currently have no products in stocks</p>
<% else %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
        <p>Category: <%= link_to product.category.name, category_path(product.category) %></p>
      </li>
    <% end %>
  </ul>
<% end %>