<p style='margin-top: 7px; margin-bottom: 10px'>
  Found <%= pluralize(@products.size, 'results') %>
  for the word "<%= params[:search_term] %>".
</p>

<div class="columns is-multiline">
  <%= render partial: 'products/product',
              collection: @products,
              locals: { show_link: true } %>
</div>
